body {
  background-color: orange;
}
h1 {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
}

.grid-item {
  border: 3px solid white;
}

/* min-width 적어준 값 이상일 때 보여지는 화면 */
@media screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 500px) and (max-width: 1023px) {
  body {
    background-color: rgb(255, 183, 183);
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* max-width 적어준 값 이하일 때 보여지는 화면 */
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(191, 223, 166);
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

/* 미디어 쿼리를 이용한 화면크기에 따른 네브바 변화 */
.nav {
  border: 3px solid black;
}

.nav .mobile-menuicon {
  display: none;
}

.nav .menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nave .menu > li {
  padding: 2px 10px;
}

/* pc크기에서 보여질 화면 */
@media screen and (min-width: 1201px) {
}

/* 탭 크기에서 보여질 화면 */
@media (min-width: 769px) and (max-width: 1200px) {
  .nav .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

/* 모바일 크기에서 보여질 화면 */
@media screen and (max-width: 768px) {
  .nav .mobile-menuicon {
    display: block;
  }
  .nav .menu {
    display: none;
  }
}
