/* padding 축약표현 : top, right, bottom, left; */
.m-padding {
  padding: 20px 50px 30px 60px;
  background-color: yellow;
}

/* 값 하나만 지정하면 모든 패딩값이 동일 */
.m-padding-all {
  padding: 10px;
  background-color: chartreuse;
}

/* 값 두개를 넣으면 top-bottom, right-left의 값 동일  */
.m-padding-xy {
  padding: 20px 50px;
  background-color: green;
}

/* boarder-color 축약표현 : top, right, bottom, left; */
/* padding 과 margin */
.m-border {
  border-style: solid;
  border-width: 5px;
  border-color: red green blue yellow;
}

/* margin값 위아래가 적용되기 뒤해 디스플레이값 block, inline-block이 필요하다 */
.m-margin {
  display: inline-block;
  margin: 20px 50px 40px 60px;
}

.m-margin-auto {
  margin: auto;
}

.m-outline {
  padding: 20px;
  outline: 3px solid teal;
}
