.title {
  text-align: center;
}

table {
  margin: auto;
  background-color: rgb(255, 233, 204);
  border-radius: 0 0 20px 20px;
  border-collapse: collapse;
}

.table-title {
  background-color: orange;
  border-bottom: 1px solid brown;
}

td {
  padding: 10px 20px;
}

a {
  border: none;
  text-decoration: none;
  background-color: orange;
  padding: 15px 25px;
  border-radius: 20px;
}

a:hover {
  background-color: red;
}
