.outter-box {
  width: 100%;
  height: 500px;
  background-color: cadetblue;
  font-size: 1.5em;
}
.inner-box {
  width: 200px;
  height: 200px;
  background-color: burlywood;
}

.m-position-relative {
  position: relative;
  left: 200px;
}

.m-position-fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
