.m-box {
  background-color: cornflowerblue;
  width: 80%;
  height: 100px;
  margin-left: 20%;
}

.float-box {
  float: left;
  background-color: darkorange;
  width: 20%;
  height: 200px;
}

.float-clear {
  clear: both;
}
