.m-box {
  width: 200px;
  height: 200px;
  background-color: coral;
}
.translate {
  translate: 50px 100px;
}
.rotate {
  rotate: 30deg;
}
.scale {
  scale: 1.5;
  translate: 50px 0;
}
.skew {
  transform: skewX(-20deg);
}
.matrix {
  transform: matrix(1, 2, 3, 4, 5, 6);
  visibility: hidden;
}

.t-box {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
}
.transition-width {
  transition: width 1s;
}
.transition-width:hover {
  width: 200px;
  transition-duration: 0.5s;
}

.transition-height {
  transition: height 1s;
}
.transition-height:hover {
  height: 200px;
}

.transition-color {
  transition: background-color 1s, border-radius 1s;
}
.transition-color:hover {
  background-color: coral;
  border-radius: 50%;
}
.transition-transform {
  transition: transform 1s;
}
.transition-transform:hover {
  transform: scale(1.5) rotate(90deg);
}

.transition-delay {
  transition: opacity 1s;
  transition-delay: 0.3s;
}
.transition-delay:hover {
  opacity: 0;
}

.transition-delay-input {
  transition: background-color 1ms;
  /* 
  딜레이와 듀레이션은 시작할 때 값을 하나만 주면 
  전환 시작/끝의 딜레이와 듀레이션이 동일하게 들어간다
  원한다면 값을 따로 줄 수 있다
  */
}
.transition-delay-input:focus {
  background-color: darkorange;
  transition-duration: 1s;
  transition-delay: 1s;
}

.transition-timing-linear {
  transition: transform 1s;
  transition-timing-function: linear;
}
.transition-timing-linear:hover {
  transform: translateX(100px);
}

.transition-timing-ease {
  transition: transform 1s;
  transition-timing-function: ease;
}

.transition-timing-ease:hover {
  transform: translateX(100px);
}

.transition-border {
  box-sizing: border-box;
  transition: border 1s;
}
.transition-border:hover {
  border: 5px solid yellow;
}

.transition-check + span {
  transition: color 1s;
}
.transition-check:checked + span {
  color: red;
}
.menu {
  display: inline-block;
}
.menu:hover .menu-icon {
  border-top: 3px solid rgb(255, 0, 0);
}
.menu-icon {
  box-sizing: border-box;
  margin: 3.5px;
  width: 20px;
  height: 3px;
  border-top: 3px solid black;
  transition: border-top 1s;
}
.line1 {
  transform-origin: left top;
  transition: transform 1s;
}
.menu:hover .line1 {
  transform: rotate(45deg);
}
.line3 {
  transform-origin: left bottom;
  transition: transform 1s;
}
.menu:hover .line3 {
  transform: rotate(-45deg);
}

.line2 {
  transition: opacity 1s;
}
.menu:hover .line2 {
  opacity: 0;
}

/* 마우스 올렸을때 이미지 확대 */
.img-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img {
  width: 350px;
  transition: transform 1s;
}
.img-box:hover img {
  transform: scale(1.2);
}
.img-box:after {
  box-sizing: border-box;
  display: inline-block;
  content: "미리보기";
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 80px 0;
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -230px;
  transition: background-color 1s;
}
.img-box:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}
